* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Liu Jian Mao Cao', cursive;
    font-family: 'PT Sans', sans-serif;
}

.container {
    width: 80%;
    margin: auto;
}

header {
    background-image: url("https://cdn.pixabay.com/photo/2015/11/29/15/24/texture-1068871_960_720.jpg");
    height: 200px;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
}

#header-top {
    height: 70%;
}

div>h1{
    font-family: 'PT Sans', sans-serif;
    color: #774c20;
    font-size: 50px;
    position: relative;
    text-align: center;
    top: calc((100% - 50px) / 2);
}

#header-bottom {
    height: 20%;
    width: 80%;
    display: inline-block;
    position: absolute;
}

ul,li {
    display: inline-block;
    margin: 0;
}

ul {
    width: 100%;
}

li {
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    color: #774c20;
    text-align: center;
    width: 19%;
    border-bottom: 2px solid #774c20;
    margin: 3px;
    line-height: 50px;
    position: relative;
}

li:hover{
    visibility: hidden;
}

main {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 660px;
    background-image: url("https://www.donnamoderna.com/wp-content/uploads/2019/02/cover_trend-design-2019-830x625.jpg");
    background-size: cover;
    background-position: center;
}

/*
il contenuto del MAIN non viene bloccato
main:after {
    content: attr();
    display: table;
    clear: both;
}
*/

aside:after {
    content: "";
    display: table;
    clear: both;
}

div.overlay {
    padding: 0 10px 10px 10px;
}

h2 {
    font-family: 'Liu Jian Mao Cao', cursive;
    font-size: 25px;
    line-height: 45px;
}

h3 {
    font-family: 'Liu Jian Mao Cao', cursive;
    font-size: 20px;
    line-height: 30px;
}

p {
    font-family: 'Liu Jian Mao Cao', cursive;
    font-size: 18px;
    text-align: justify;
}

a {
    color: #774c20;
    line-height: 25px;
}

a:visited {
    color: black;
}

.left {
    width: 20%;
    float: left;
    padding: 15px;
}

.content {
    width: 50%;
    float: left;
    padding: 15px;
}

.right {
    width: 30%;
    float: left;
    padding: 15px;
}

.int-design {
    margin-bottom: 10px;
    overflow: auto;
}

footer {
    background-image: url("https://cdn.pixabay.com/photo/2015/11/29/15/24/texture-1068871_960_720.jpg");
    height: 90px;
}
